@model RSM.BOL.Models.PropertySell
<div class="col-md-6 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Form Design <small>different form elements</small></h2>
            @*<ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>*@
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            @using (Html.BeginForm("Create", "PropertySell", FormMethod.Post,
                new { @class = "form-horizontal form-label-left input_mask", @id = "myForm", @enctype = "multipart/form-data" }))
            {

                <div class="form-group">

                    @Html.LabelFor(model => model.PaymentOnBooking, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        @Html.EditorFor(model => model.PaymentOnBooking, new { htmlAttributes = new { @class = "form-control", placeholder = "Onbooking" } })
                        @Html.ValidationMessageFor(model => model.PaymentOnBooking, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PossessionCharges, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        @Html.EditorFor(model => model.PossessionCharges, new { htmlAttributes = new { @Id = "projName", @class = "form-control", placeholder = "PossessionCharges" } })
                        @Html.ValidationMessageFor(model => model.PossessionCharges, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TotalCostOfProperty, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        @Html.EditorFor(model => model.TotalCostOfProperty,
new
{
    htmlAttributes = new { @class = "form-control", placeholder = "TotalCostOfLand" }
})
                        @Html.ValidationMessageFor(model => model.TotalCostOfProperty, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaymentPlan, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        @Html.DropDownListFor(model => model.PaymentPlan, new SelectList(ViewBag.typeList, "Value", "Text"),  // Placeholder text
new {@class = "form-control", placeholder = "Type" })
                        @Html.ValidationMessageFor(model => model.PaymentPlan, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CornerCharges, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        @Html.EditorFor(model => model.CornerCharges, new { htmlAttributes = new { @class = "form-control",placeholder= "CornerCharges" } })
                        @Html.ValidationMessageFor(model => model.CornerCharges, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DevelopmentCharges, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        @Html.EditorFor(model => model.DevelopmentCharges, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DevelopmentCharges, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Balance, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        @Html.EditorFor(model => model.Balance, new { htmlAttributes = new { @class = "form-control",placeholder= "Balance" } })
                        @Html.ValidationMessageFor(model => model.Balance, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SoldDate, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        @Html.EditorFor(model => model.SoldDate, new { htmlAttributes = new { @class = "form-control",placeholder= "Date" } })
                        @Html.ValidationMessageFor(model => model.SoldDate, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PossessionDate, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        @Html.EditorFor(model => model.PossessionDate, new { htmlAttributes = new { @class = "form-control",placeholder= "PossessionDate" } })
                        @Html.ValidationMessageFor(model => model.PossessionDate, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TotalCostOfProperty, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        @Html.EditorFor(model => model.TotalCostOfProperty, new { htmlAttributes = new { @class = "form-control",placeholder= "TotalCostOfLand" } })
                        @Html.ValidationMessageFor(model => model.TotalCostOfProperty, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EntryByUser, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        @Html.EditorFor(model => model.EntryByUser, new { htmlAttributes = new { @class = "form-control", placeholder= "Recived" } })
                        @Html.ValidationMessageFor(model => model.EntryByUser, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CareOf, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        @Html.EditorFor(model => model.CareOf, new { htmlAttributes = new { @class = "form-control", placeholder = "CareOf" } })
                        @Html.ValidationMessageFor(model => model.CareOf, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                        @*<button type="button" class="btn btn-primary">Cancel</button>
                    <button class="btn btn-primary" type="reset">Reset</button>*@
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>

            }

        </div>
    </div>
</div>
